@model IEnumerable<Blog.Models.Article>

@{
    ViewBag.Title = "All";
}

@foreach (var article in Model)
{
    <div class="container col-md-12">

        <article>
            <header>
                <h2>
                    @article.Title
                </h2>
            </header>
            <small class="author ">
                Публикувано
                @if (article.Author != null)
                {
                    @:от
                    <i>@article.Author.FullName (@article.Author.UserName)</i>
                }
                на <i>@article.Date</i>
            </small>
            <p>
            <p>
                <div>
                    <img src="@article.Image">
                </div>
                <div>
                    @article.Content
                </div>
            </p>

            <footer class="pull-right">
                @if (User.Identity.Name.Equals(article.Author.UserName) || User.IsInRole("Administrators"))
                {
                    @Html.ActionLink("Редактирай", "Edit", "Articles", new { @id = article.Id }, new { @class = "btn btn-success" })
                    @:
                    @Html.ActionLink("Изтрий", "Delete", "Articles", new { @id = article.Id }, new { @class = "btn btn-danger" })
                }

                @Html.ActionLink("Начало", "Index", "Home", null, new { @class = "btn btn-primary" })
            </footer>
        </article>
    </div>
}
<div class="clearfix"></div>
