@model Blog.Models.Article

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="well" style="background-color:antiquewhite; border:1px solid red">

        <h2>Изтриване</h2>


        <article>
            <header>
                <h2>
                    @Model.Title
                </h2>
            </header>
            <small class="author ">
                Публикувано
                @if (Model.Author != null)
            {
                    @:от
                    <i>@Model.Author.FullName (@Model.Author.UserName)</i>
                }
                на <i>@Model.Date</i>
            </small>
            <p>
            <p>
                @Model.Content
            </p>

        </article>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Изтриване" class="btn btn-danger" />
                @Html.ActionLink("Отказ", "Index", "Home", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>

