@model IEnumerable<Blog.Models.Article>

@{
    ViewBag.Title = "ListAll";
}

@foreach (var article in Model)
{
    <div class="container col-md-12">

        <article>
            <header>
                <h2>
                    @article.Title
                </h2>
            </header>
            <small class="author ">
                Публикувано
                @if (article.Author != null)
                {
                    @:от
                    <i>@article.Author.FullName (@article.Author.UserName)</i>
                }
                на <i>@article.Date</i>
            </small>
            <smal class="author">
                Категория: <span style="font-style:italic">@Html.ActionLink(@article.Category.Name, "ListArticlesOfCategory", "Category", new { @id = article.Category.Id }, null)</span>
            </smal>
            <p>
            <p>
                <div>
                    <img class="img-responsive" style="float:right; margin-left:5px" src="@article.Image" width="600">
                </div>
                <div>
                    @Html.Raw(article.Content)
                </div>
            </p>

            <footer>
                <div class="pull-left">
                    @foreach (var tag in article.Tags)
                    {
                       <span> @Html.ActionLink(tag.Name, "ListArticlesByTag", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })</span>
                    }
                </div>

                <div   class="pull-right">
                @if (User.IsInRole("Administrators") || (article.Author != null && article.Author.UserName.Equals(User.Identity.Name)))
                {
                    @Html.ActionLink("Редактирай", "Edit", "Articles", new { @id = article.Id }, new { @class = "btn btn-success" })
                    @:
                    @Html.ActionLink("Изтрий", "Delete", "Articles", new { @id = article.Id }, new { @class = "btn btn-danger" })
                }

                @Html.ActionLink("Начало", "Index", "Home", null, new { @class = "btn btn-primary" })</div>
            </footer>
        </article>
    </div>
}
<div class="clearfix"></div>
