@using Blog.Classes;
@model IEnumerable<Blog.Models.Article>


@{
    ViewBag.Title = "Списък";
}

<div class="container">
    <div class="well">

        <h2>Списък статии</h2>

        <hr>

        <table class="table table-striped tab-content table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th class="text-right">Действия</th>
            </tr>

            @foreach (var article in Model)
            {
                if (User.IsInRole("Administrators"))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => article.Title)
                        </td>
                        <td>
                            @Html.Raw(Utils.CutForTable(article.Content))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => article.Date)
                        </td>
                        <td>
                            @if (article.Author != null)
                    {
                                @article.Author.FullName;
                    }
                    else
                    {
                                @:<i>(няма автор)</i>
                    }

                        </td>
                        <td class="text-right">
                            @Html.ActionLink("Детайли", "Details", new { id = article.Id }) |
                            @if (true)
                    {
                                @Html.ActionLink("Редактирай", "Edit", new { id = article.Id });
                                @:|
                                @Html.ActionLink("Изтрий", "Delete", new { id = article.Id })
                            }

                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>