@{
    ViewBag.Title = "Home Page";
}
@using Blog.Classes
@using Blog.Models

@model List<Article>


    <section class="row">
        @foreach (var article in Model)
        {
            <article class="post col-md-6">
                <h2 class="title">@article.Title</h2>
                <div class="about">
                    Публикувано
                    @if (article.Author != null)
                {
                        @:от
                        <i>@article.Author.FullName (@article.Author.UserName)</i>
                    }
                    на <i>@article.Date</i>
                </div>
                <div class="body">
                    @Utils.CutArticle(@Html.Raw(article.Content).ToString())
                    
                </div>
            </article>
        }
    </section>