@{
    ViewBag.Title = "Home Page";
}
@using Blog.Classes
@using Blog.Models

@model IEnumerable<Article>


<section class="row">
    @foreach (var article in Model)
    {
        <article class="post col-md-6">
            <h2 class="title">@Html.ActionLink(article.Title, "Details", "Articles", new { @id = article.Id }, null)</h2>
            <small class="author ">
                Публикувано
                @if (article.Author != null)
                {
                    @:от
                    <i>@article.Author.FullName (@article.Author.UserName)</i>
                }
                на <i>@article.Date</i>
            </small>
            <p>
                <div class="body">
                    @Utils.CutArticle(article.Content)

                </div>
        </article>
    }
</section>

<p>
    <a href="/Home/Index?page=@(ViewBag.CurrentPage - 1)" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "hidden" : string.Empty) pull-left"><<< Предишна страница</a>
    <a href="/Home/Index?page=@(ViewBag.CurrentPage + 1)" class="btn btn-primary @(!Model.Any() || Model.Count() < 4 ? "hidden" : string.Empty) pull-right">Следваща страница >>></a>
</p>
<br>